<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <bean id="autowiredAnnotationBeanPostProcessor"
          class="com.spring.ioc.beans.AutowiredAnnotationBeanPostProcessor"/>
    <bean id="beanDao" class="com.spring.ioc.beans.BeanDao"/>

    <bean id="beanService" class="com.spring.ioc.beans.BeanService" init-method="customInit"
          destory-method="customDestory">
        <constructor-arg value="数据库操作"></constructor-arg>
        <!--<property name="beanDao" bean="beanDao"/>-->

        <!--<property name="beanDao">-->
            <!--<bean class="com.spring.ioc.beans.BeanDao"/>-->
        <!--</property>-->
    </bean>
</beans>