<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Scope -->
    <bean id="singletionBeanScope" scope="singleton" class="com.spring.ioc.scope.BeanScope"></bean>
    <bean id="prototypeBeanScope" scope="prototype" class="com.spring.ioc.scope.BeanScope"></bean>

</beans>