<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Aware -->
    <bean class="com.spring.ioc.aware.BeanAware"></bean>
    <bean class="com.spring.ioc.scope.BeanScope"></bean>

</beans>